/**{	
margin: 0px auto;
padding: 0px;
width: 90%;
}*/
.head{
margin: 0px auto;
background-color: #0F75C3 ;
/*rgba(51,51,51,0.8) url() 0 0 no-repeat;*/
width: 70%;
height: 220px;
/*border-style: solid;*/}
.head-1{	
width: 90%;
height: 170px;
margin: 0px auto;
background-color: #0FF196 ;
/*border-style: ridge;*/
/*font-style: italic;*/
}
.nav-tabs{
width: 80%;
margin:0px auto;
border-style: ridge;
}
.tab-content{
width: 80%;
margin:0px auto;
border-style: ridge;
}
.tab-pane{
width: 100%;
height: 1200px;
margin:0px auto;
padding: 5px;
/*text-indent : -3em ;*/
}
.footer{
width: 80%;
margin: 0px auto;
height: 30px;
background-color: #2AB4FD ;
border-style: groove;
}
.footer-content{
width: 100%;
/*padding: 10px auto 10px auto;*/
/*font-style: italic;*/
}