/**{	
margin: 0px auto;
padding: 0px;
width: 90%;
}*/
.head{
margin: 0px auto;
background-color: #0F75C3 ;
/*rgba(51,51,51,0.8) url() 0 0 no-repeat;*/
width: 70%;
height: 220px;
/*border-style: solid;*/}
.head-1{	
width: 90%;
height: 180px;
margin: 0px auto;
background-color: #0FF196 ;
/*color: #fff ;*/
/*border-style: ridge;*/
/*font-style: italic;*/
}
.nav-tabs{
width: 80%;
margin:0px auto;
border-style: ridge;
}
.tab-content{
width: 80%;
margin:0px auto;
border-style: ridge;
}
.tab-pane{
width: 100%;
height: 1200px;
margin:0px auto;
padding: 5px;
/*text-indent : -3em ;*/
}

.button{
  background: #3d85c6;
background: -webkit-linear-gradient(#3d85c6, #073763);
background: linear-gradient(#3d85c6, #073763);
border-radius: 8px;
padding: 10px 20px;
color: #ffffff;
/*display: inline-block;*/
font: normal 400 25px/1 "Zenhei", sans-serif;
text-align: center;
text-shadow: 2px 2px #000000;
}
.footer{
width: 80%;
margin: 0px auto;
height: 100px;
background-color: #2AB4FD ;
border-style: groove;
}
.footer-content{
width: 100%;
/*padding: 10px auto 10px auto;*/
/*font-style: italic;*/
}